<?
    const user_data_opt = context.user_data_opt;
    const board = context.board;
    
    const flags = root.model.user.flags(user_data_opt);
?>

<div class="delete" style="clear:both">
    Delete Post
    <input type="submit" name="delete" value="Delete" formaction="/<(board.board)>/post/delete">
</div>
<div class="delete" style="clear:both">
    Reason [
        <input title="Global report" type="checkbox" name="global" id="global_report">
        <label for="global_report">Global</label>
    ]
    <input type="text" name="reason" size="20" maxlength="30">
    <input type="submit" name="report" value="Report" formaction="/<(board.board)>/post/report">
</div>
    
<? if(flags.atLeastMod()) { ?>
    <div class="delete" style="clear:both">
        Delete Post <? if(flags.atLeastGlobalMod()) { ?>
        [
            <input title="Permanent delete" type="checkbox" name="permanent" id="permanent">
            <label for="permanent">Permanent</label>
        ]
        <? } ?>
        <input type="text" name="reason_delete" size="20" maxlength="30">
        <input
            type="submit"
            name="delete"
            value="Delete (as Mod.)"
            formaction=
                <? if(flags.atLeastGlobalMod()) { ?>
                    "/<(board.board)>/global/post/delete"
                <? } else { ?>
                    "/<(board.board)>/mod/post/delete"
                <? } ?>
        >
    </div>
<? } ?>
