<?
    const node = context.tree;
    const user = context.user;
?>

<li>
    <? if(std.mem.eql(u8, user, node.name)) { ?>
        <strong><(node.name)></strong>
    <? } else { ?>
        <a href="<(node.name)>"><(node.name)></a>
    <? } ?>
    <ul>
    <? for (node.list.items) |item| {
        _ = try partial.tree.render(output, .{.tree = item, .user = user});
    } ?>
    </ul>
</li>
