<?
    const Context = @TypeOf(context);
    const user = context.user;
    const flags = context.flags;
    
    var board_opt: ?[]const u8 = null;
    if(@hasField(Context, "board")) {
        board_opt = context.board;
    }
?>
<(user)>
<? if(flags.atLeastMod()) { ?>
    <? if(board_opt) |board| {?>
        <a href="/<(board)>/ban/<(user)>">(Ban)</a>
    <? } ?>
<? } ?>
<? if(flags.atLeastGlobalMod()) { ?>
    <a href="/ban/<(user)>">(Global Ban)</a>
<? } ?>
